<html>
   <body>
      
    {% extends "layout.html" %}
    {% block body %}
        <form method = "POST" 
            enctype = "multipart/form-data">
            
            <h1>Embed Color</h1>
            Enter a hex code!
            <br>
            <input name = "color" />
            <input type = "submit"/>
            <br>
            <br>
            Enter the title of your embed 
            <br>
            <input name="secret_key">
      </form>   
    {% endblock %}

   </body>
</html>