<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="theme-color" content="{{color}}">
    <meta property="og:url" content="https://hosst.gay/imgs/{{filename}}">
    <meta property="og:type" content="video">
    <meta property="og:title" content="{{filename}}">
    <meta property="og:site_name" content="hosst.gay">
    <meta property='og:video' content='https://hosst.gay/imgs/{{filename}}'>
    <meta property="og:image" content="https://hosst.gay/imgs/{{filename}}">
    <meta name="twitter:image" content="https://hosst.gay/imgs/{{filename}}/">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <center>
        
        <h1>hosst.gay</h1>
            
            <br><br>   
            <br><br>   
            <br><br>  
             
        
            <video width="1000" height="500" controls>
                <source src="{{url}}imgs/{{filename}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <footer class="footer has-background-dark has-text-light">
                <div class="content has-text-centered">
                <p>
                Made with ❤️ by<a href="https://github.com/SawshaDev"><span id="Sawsha-logo"> SawshaDev</span></a>
                </p>
                </div>
            </footer>
    </center>




</body>
</html>