<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{filename}}</title>
    <meta name="theme-color" content="{{color}}">
    <meta property="og:url" content="https://hosst.gay/imgs/{{filename}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{filename}}">
    <meta property="og:site_name" content="hosst.gay">
    <meta property="og:video:secure_url" content="https://hosst.gay/imgs/{{filename}}">
    <meta property="og:image" content="https://hosst.gay/imgs/{{filename}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{filename}}">
    <meta name="twitter:image" content="https://hosst.gay/imgs/{{filename}}/">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <style>
        .p {
            font-size: xx-large;
        }
        
    </style>
    <center>
        
        <h1 style="text-shadow:2px 2px 2px black;"><font color="{{color}}">hosst.gay</font></h1>
        <br> 
            
        
        <img src="{{url}}imgs/{{filename}}" height="480", height="1000">
        <br>
        <br>

           
        <h1 style="text-shadow:2px 2px 2px black; font-size:larger"><b><font color="{{color}}">Uploaded by {{username}}</font></b></h1>  
        
        <footer class="footer has-text-light">
           
            <p>© 2022 Made with ❤️ by <a class="fo" href="https://sawshadev.com/">SawshaDev</a></p>
        </footer>
            

    </center>




</body>
</html>
